DATABASE_URL=postgresql://neondb_owner:npg_msMw0DPqbO4K@ep-quiet-river-amvhsmag.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require
RESEND_API_KEY=your_resend_api_key_here
OWNER_EMAIL=your_email@example.com
ADMIN_PASSWORD=Passw@rdcompanion$

CLOUDINARY_CLOUD_NAME=dpotignke
CLOUDINARY_API_KEY=138683548794975
CLOUDINARY_API_SECRET=h45xcBAz-l2068nDE_SEOEuvxd0
